* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.dataset {
    width: 100%;
    margin-left: 15%;
}

.container {
    width: 100%;
}

.perlu {
    width: 80%;
    margin-left: 20%;
    margin-top: 5%;
}