{% extends 'root/base_admin.html' %}
{% block head %}
<style>
    .form-inline .form-group {
        display: flex;
        align-items: center;
    }
    .form-inline .form-group > * {
        margin-right: 15px;
    }
</style>
{% endblock %}
{% block content %}
<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/home" class="link"><i class="ri-home-3-line fs-5"></i></a>
          </li>
          <li class="breadcrumb-item" aria-current="page"><a href="/admin/edit_product" class="link">LIST TREATMENT</a></li>
          <li class="breadcrumb-item active" aria-current="page">DETAIL TREATMENT</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">DETAIL TREATMENT</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12"></div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><input type="text" id="product_name" value="{{ product.nama }}"></h3>
          <h6 class="card-subtitle"><input type="text" id="product_rating" value="{{ product.rating }}"> Ratings & 
            <input type="text" id="product_review" value="{{ product.review }}"> Reviews</h6>
          <div class="row">
            <div class="col-lg-4 col-xl-3 col-md-3 col-sm-6">
              <div class="white-box text-center border mb-3 mt-4">
                <img id="img_placeholder" src="{{ product.gambar }}" class="img-fluid"/>
                <input type="file" class="form-control" name="input_gambar" id="input_gambar" placeholder="Masukkan gambar baru">
              </div>
            </div>
            <div class="col-lg-8 col-xl-9 col-md-9 col-sm-6">
              <h2 class="mt-4">
                <input type="text" id="product_harga" value="{{ product.harga }}">
                <small class="text-success fs-4"></small>
              </h2>
              <p>
                <textarea class="form-control" id="product_deskripsi" name="key_highlight" rows="3" required>{{ product.deskripsi }}</textarea>
              </p>
              <h4 class="mt-3">Key Highlights</h4>
                <textarea class="form-control" id="product_key_highlight" name="spesification" rows="3">{{ product.key_highlight }}</textarea>
                <h4 class="mt-3">Kategori</h4>
              <select class="form-control" id="product_kategori" name="kategori" multiple required>
                 {% if 'acne' in product.kategori %}<option value="acne" selected>Acne</option>
                 {% else %}<option value="acne">Acne</option>{% endif %}
                 {% if 'glowing' in product.kategori %}<option value="glowing" selected>Glowing/Whitening</option>
                 {% else %}<option value="glowing">Glowing/Whitening</option>{% endif %}
                 {% if 'facial' in product.kategori %}<option value="facial" selected>Facial</option>
                 {% else %}<option value="facial">Facial</option>{% endif %}
                 {% if 'bekas-jerawat' in product.kategori %}<option value="bekas-jerawat" selected>Bekas Jerawat</option>
                 {% else %}<option value="bekas-jerawat">Bekas Jerawat</option>{% endif %}
                 {% if 'anti-aging' in product.kategori %}<option value="anti-aging" selected>Anti Aging/Flek</option>
                 {% else %}<option value="anti-aging">Anti Aging/Flek</option>{% endif %}
              </select>
              <button type="button" class="btn btn-primary mt-3" id="save_edit">Save Edit</button>
              <a href="/products_detail/{{ product.id }}" class="btn btn-success mt-3" id="lihat_hasil">Lihat Hasil</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>Keterangan</h3>  
            <textarea class="form-control" id="product_keterangan" name="spesification"placeholder="masukan keterangan" rows="3">{{ product.spesification }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
{% block js %}
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    $("#save_edit").on("click", function () {
      $("#save_edit").html("Loading...")
      let formData = new FormData();
      
      let gambarInput = $('#input_gambar')[0].files[0];
      if (gambarInput) {
        formData.append('gambar', gambarInput);
      }

      formData.append('id', "{{ product.id }}");
      formData.append('nama', document.getElementById('product_name').value);
      formData.append('rating', document.getElementById('product_rating').value);
      formData.append('review', document.getElementById('product_review').value);
      formData.append('harga', document.getElementById('product_harga').value);
      formData.append('deskripsi', document.getElementById('product_deskripsi').value);
      formData.append('key_highlight', document.getElementById('product_key_highlight').value);
      formData.append('kategori', Array.from(document.getElementById('product_kategori').selectedOptions).map(option => option.value));
      formData.append('keterangan', document.getElementById('product_keterangan').value);

      $.ajax({
        url: "/products/{{ product.id }}",
        data: formData,
        cache: false,
        contentType: false,
        processData: false,
        method: 'PUT',
        type: 'PUT',
        success: function (data) {
          console.log(data);
          $("#save_edit").html("Save Edit")
          alert("Product updated successfully!");
          if (data.image) {
            $("#img_placeholder").attr('src', data.image);
          }
        },
        error: function (xhr, status, error) {
          console.log("error", error);
          $("#save_edit").html("Save Edit")
          alert("Failed to update product.");
        }
      });
    });
  });
</script>
{% endblock %}
