<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404 - Page Not Found!</title>
    <link rel="stylesheet" type="text/css" href="/static/assets_404/css/style.css" />
    <link href="/static/assets_404/images/favicon.png" rel="shortcut icon" type="image/x-icon" />
</head>

<body>
    <div class="container">
        <img class="ops" src="/static/assets_404/images/404.svg" />
        <br />
        <h3>Halaman yang Anda cari tidak ditemukan.
            <br /> Bisa jadi karena url tersebut salah atau tidak tersedia.</h3>
        <br />
        <a class="buton" href="/">Kembali ke Deteksi Jenis Kulit</a>
    </div>
</body>

</html>