<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/img/Era_Beauty_Care_logo.jpg">
  <title>Era Beauty Care </title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="static/css/main.css" rel="stylesheet">
  <link href="static/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple" rel='stylesheet'
    type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <!--Header Styele fnt-->
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
  <link href="static/css/animate-custom.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'
    type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <script src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.custom.js"></script>
  <script src="https://kit.fontawesome.com/9597617eb6.js" crossorigin="anonymous"></script>
  <style>
    #headerwrap {
	background: url(static/img/banner.png) no-repeat center top;
    }
    /* Style untuk tombol info */
.btn-info {
  background-color: #17a2b8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-info:hover {
  background-color: #138496;
}

/* Style untuk tombol peringatan */
.btn-warning {
  background-color: #ffc107;
  color: #212529;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-warning:hover {
  background-color: #e0a800;
}

/* Style untuk tombol bahaya */
.btn-danger {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-danger:hover {
  background-color: #c82333;
}
/* Style untuk tombol sukses */
.btn-success {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.btn-success:hover {
  background-color: #218838;
}

  </style>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  <div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="#home">Era Beauty care</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="#home"> Home</a></li>
            <li> <a href="#about"> About</a></li>
            <li> <a href="#services"> Services</a></li>
            <li> <a href="#Tips"> tips</a></li>
            <li> <a href="/bot"> ChatBot</a></li>
            <li> <a href="#contact"> Contact</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <!-- ==== HEADERWRAP ==== -->
  <div id="headerwrap" name="home">
  </div>
  <!-- /headerwrap -->


  <!-- ==== ABOUT ==== -->
  <div id="about" name="about">
    <div class="container">
      <div class="row white">
        <center>
          <div class=""> <img class="img-responsive" src="static/img/about.png"> </div>
        </center>
        <div class="hrabout">
          <hr>
        </div>
        <div class="col-md-12">
          <h3 style="text-align: center;">About us</h3>
          <p style="text-align: justify;">Era Beauty Care adalah platform inovatif yang menyediakan layanan konsultasi dan tips perawatan kulit wajah secara interaktif melalui chatbot. 
            Dibangun dengan teknologi kecerdasan buatan terkini, chatbot kami dapat memberikan saran yang dipersonalisasi sesuai dengan jenis kulit dan masalah kulit yang dialami pengguna. 
            Dari tips pembersihan rutin hingga rekomendasi produk perawatan, 
            Era Beauty Care membantu pengguna untuk meraih kulit wajah yang sehat dan bercahaya. Selamat datang di Era Beauty Care, teman perawatan kulit wajah terpercaya Anda! </p>
          <h3 style="text-align: center;">Why choose us?</h3>
          <p style="text-align: justify;">1.Pengalaman Personalisasi: Kami mengerti bahwa setiap individu memiliki kebutuhan kulit yang unik. Dengan pendekatan yang personal, kami menawarkan solusi perawatan yang disesuaikan dengan jenis kulit dan masalah kulit masing-masing pengguna.<br>

            2.Teknologi Terdepan: Dibangun dengan menggunakan teknologi kecerdasan buatan terkini, chatbot Era Beauty Care dapat memberikan saran yang akurat dan relevan secara cepat dan efisien.<br>
            
            3. Kemudahan Akses: Era Beauty Care menyediakan layanan konsultasi perawatan kulit yang dapat diakses kapan saja dan di mana saja melalui platform digital. Anda tidak perlu repot pergi ke salon atau klinik kecantikan untuk mendapatkan saran perawatan yang berkualitas.<br>
            
            4. Rekomendasi Ahli: Tim kami terdiri dari para ahli perawatan kulit yang berpengalaman dan terlatih. Mereka siap memberikan saran dan tips terbaik untuk membantu Anda mencapai kulit wajah yang sehat dan bercahaya.<br>
            
            5. Dukungan Penuh: Kami peduli dengan kepuasan dan kepercayaan Anda. Tim dukungan pelanggan kami siap membantu menjawab pertanyaan dan memberikan bantuan apapun yang Anda butuhkan selama proses konsultasi dan perawatan.</p>
        </div>
      </div>
      <!-- row -->
    </div>
  </div>
  <!-- container -->

  <!-- ==== SERVICES ==== -->
  <div id="services" name="services">
    <div class="container">
      <div class="row">
        <h2 class="centered">Services</h2>
        <hr>
        <div class="col-lg-8 col-lg-offset-2">
          <p class="large">Berikut layanan yang dapat kami berikan dalam Era Beauty Care</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/bot.png" alt="" style="width: 80px;">
          <h3>ChatBot</h3>
          <p>Chatbot rekomendasi treatment kulit wajah adalah asisten digital yang diciptakan untuk membantu Anda menemukan treatment perawatan kulit 
            yang sesuai dengan kebutuhan Anda. Dengan menggunakan kecerdasan buatan dan algoritma yang canggih. <a class="btn btn-success" href="/bot">klik disini</a></p>
        </div>
        <div class="col-lg-3 callout"> <img src="static\img\services\tips.png" alt="" style="width: 80px;">
          <h3>Era Beauty Care Tips</h3>
          <p>Era Beauty Care Tips merukapan tips and trick yang disediakan website Era Beauty Care untuk memberikan saran dan cara
            penanganan / treatment wajah dengan baik sesuai jenis kulit wajah anda.</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/fb.png" alt="" style="width: 80px;">
          <h3>Era Beauty Care Ran</h3>
          <p>Era Beauty Care Ran merupakan tempat memberikan kritik dan saran untuk website Era Beauty Care.</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/kontak.png" alt="" style="width: 80px;">
          <h3>Era Beauty Care Contact</h3>
          <p>Era Beauty CareTact merupakan kontak yang diberikan oleh team kami agar para pengguna website dapat menghubungi
            kami
            secara langsung jika terdapat masalah pada website Era Beauty Care.</p>
        </div>

      </div>
      <!-- row -->
    </div>
  </div>
  <!-- container -->

  <!-- ==== SwakalaTips ==== -->
  <div id="Tips" name="SwakalaTips">
    <div class="container">
      <div class="row">
        <h2 class="centered">Era Beauty Care Tips</h2>
        <hr>
        <div class="col-lg-8 col-lg-offset-2 centered">
          <p class="large">Era Beauty Care Tips merukapan tips and trick yang disediakan website Era Beauty Care  untuk memberikan saran
            dan
            cara penanganan kulit wajah anda .</p>
        </div>
      </div>
      <!-- /row -->
      <div class="container">
        <div class="row">

          <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                            a modal for each of your projects. -->

          <!-- MODAL 1 -->
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Pembersihan Rutin</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/edu.png" alt=""></p>
                  <p>Jaga kebersihan wajah dengan mencuci muka secara teratur, terutama saat bangun tidur dan sebelum tidur. Gunakan pembersih yang sesuai dengan jenis kulitmu.</p>
                  <p><b><a
                        href="https://www.byrdie.com/how-to-wash-your-face" target="_blank" style="text-decoration: underline;">Referensi</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 2 -->
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">EDUKASI PADA ANAK</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/eduanak.png" alt=""></p>
                  <p>edukasi anak pada usia dini berfungsi untuk membina dan mengembangkan potensi anak secara optimal,
                    sehingga mereka memiliki perilaku dan kemampuan dasar yang sesuai dengan tahap perkembangannya untuk
                    memasuki pendidikan selanjutnya.
                    Tujuannya adalah membentuk anak yang beriman,
                    berakhlak mulia, berkepribadian luhur, sehat, berilmu, kritis, kreatif, inovatif, mandiri, percaya
                    diri, demokratis, dan bertanggung jawab. Pendidikan anak usia dini juga bertujuan mengembangkan
                    kecerdasan spiritual, intelektual, emosional, kinestetis, dan sosial dalam lingkungan bermain yang
                    edukatif dan menyenangkan.</p>
                  <p><b><a href="https://id.wikipedia.org/wiki/Pendidikan_anak_usia_dini">Visit Site</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 3 -->
          <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">HUKUM</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/hukum.png" alt=""></p>
                  <p>Dalam bagian ini akan diberikan penjelasan mengenai hukum yang mengatur terkait perlindungan korban
                    kekerasan pada anak. </p>
                  <p><b><a href="https://www.youtube.com/watch?v=bAiIHwvhe1E">Visit Site</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 4 -->
          <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">MELINDUNGI DIRI</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/melindungi.png" alt=""></p>
                  <p>Berikut ini adalah cara cara untuk melindungi kesejahteraan anak.</p>
                  <p><b><a
                        href="https://www.klikdokter.com/ibu-anak/tips-parenting/3-cara-lindungi-si-kecil-dari-ancaman-kekerasan">Referensi</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 5 -->
          <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">PENCEGAHAN</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/pencegahan.png" alt=""></p>
                  <p>Kekerasan terhadap anak sering diistilahkan dengan perlakuan salah terhadap anak atau child abuse.
                    Semua tindakan kekerasan kepada anak-anak akan direkam dalam bawah sadar mereka dan akan dibawa
                    sampai kepada masa dewasa dan terus sepanjang hidupnya.
                    Jika hal ini terjadi, maka akan menjadi rantai dan budaya kekerasan. Jumlah kasus kekerasan pada
                    anak di Indonesia terus meningkat dari tahun ke tahun.
                    Pelaku kekerasan terhadap anak justru adalah orang yang diharapkan oleh sang anak untuk mendapatkan
                    perlindungan, orang yang mereka patut dipercaya, seperti orangtua atau kerabat anak, pengasuh, orang
                    di sekitar tempat tinggal anak, dan guru..</p>
                  <p><b><a href="https://www.youtube.com/watch?v=Qo7Kuum2aMs">Referensi</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 6 -->
          <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">MENGHADAPI TRAUMA</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/trauma.png" alt=""></p>
                  <p>Anak-anak yang menjadi korban tindak kekerasan umumnya dapat mengalami trauma. Kondisi mental dan
                    kejiwaan yang belum stabil membuat mereka lebih rentan terguncang begitu menghadapi kondisi yang
                    menekan.
                    Trauma yang dialami anak akan berdampak pada kondisi psikologisnya, di antaranya: perubahan suasana
                    hati yang cepat, perilaku impulsif, ketakutan luar biasa, lekas marah, sikap agresif, serta perasaan
                    cemas dan depresi. Ini akan menghambat perkembangannya secara mental.
                    Berikut adalah beberapa cara yang dapat dilakukan oleh orangtua dalam menghadapi trauma pada anak
                    korban kekerasan.
                  </p>
                  <p><b><a
                        href="https://pijarpsikologi.org/blog/bagaimana-menghadapi-trauma-pada-anak-korban-kekerasan">Referensi</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- PORTFOLIO IMAGE 1 -->
          <div class="col-md-4 ">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/edu.png" alt="">
                <figcaption>
                  <h5>Pembersihan Rutin</h5>
                  <a data-toggle="modal" href="#myModal1" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 2 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/eduanak.png" alt="">
                <figcaption>
                  <h5>EDUKASI ANAK</h5>
                  <a data-toggle="modal" href="#myModal2" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 3 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/hukum.png  " alt="">
                <figcaption>
                  <h5>HUKUM</h5>
                  <a data-toggle="modal" href="#myModal3" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>
        </div>
        <!-- /row -->

        <!-- PORTFOLIO IMAGE 4 -->
        <div class="row">
          <div class="col-md-4 ">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/melindungi.png" alt="">
                <figcaption>
                  <h5>MELINDUNGI DIRI</h5>
                  <a data-toggle="modal" href="#myModal4" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 5 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/pencegahan.png" alt="">
                <figcaption>
                  <h5>PENCEGAHAN KEKERASAN ANAK</h5>
                  <a data-toggle="modal" href="#myModal5" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 6 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/trauma.png" alt="">
                <figcaption>
                  <h5>MENGHADAPI TRAUMA</h5>
                  <a data-toggle="modal" href="#myModal6" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>
          <!-- /col -->
        </div>
        <!-- /row -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /row -->
  </div>
  </div>
  <!-- /container -->

  <!-- ==== TEAM MEMBERS ==== -->

  </div>
  </div>
  </div>
  <!-- row -->
  </div>
  <!-- container -->

  <!-- ==== CONTACT ==== -->
  <div id="contact" name="contact">
    <div class="container">
      <div class="row">
        <h2 class="centered">Contact Us</h2>
        <hr>
        <div class="col-md-4 centered"><a href="https://maps.app.goo.gl/jraJsy8EMd9eHyAT9"> <i class="fa fa-map-marker fa-2x"></i>
          <p>Tegal, Jawa Tengah, Indonesia</p></a>
        </div>
        <div class="col-md-4"><a href="https://erabeautycare.business.site/?utm_source=gmb&utm_medium=referral"> <i class="fa fa-globe fa-2x"></i>
          <p>busines.site</p></a>
        </div>
        <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
          <p>Era_Beauty_Care@gmail.com</p>
        </div>
        <div class="col-md-4"><a href="https://wa.me/6281398957791"><i class="fa fa-phone fa-2x"></i>
          <p>0813-9895-7791</p></a>
        </div>
        <div class="col-md-4"><a href="https://www.instagram.com/erabeautycare.tegal/"> <i class="fa fa-instagram fa-2x"></i>
          <p>Erabaeutycare.tegal</p></a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <p>Terima kasih sudah berkunjung di website kami. silahkan memberi kritik dan saran agar website Era Beauty Care  kami
            menjadi Lebih baik lagi. kirim ke <a href="https://wa.me/6281398957791">0813-9895-7791</a></p>
          <form id="contact" method="post" class="form" role="form">
            <div class="row">
              <!-- form -->
            </div>
        </div>
        
        <!-- row -->

      </div>
      
    </div>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15843.930368992887!2d109.1876715!3d-6.8926852!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6fb9d3a4929de3%3A0xf4901ab7bac45140!2sEra%20Beauty%20Care!5e0!3m2!1sen!2sid!4v1708072835821!5m2!1sen!2sid" width="1500" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <!-- container -->

    <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-md-8"> <span class="copyright">©2024 all right reserved <a href="index.html" rel="rev-logo"></span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/retina.js"></script>
  <script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="static/js/smoothscroll.js"></script>
  <script type="text/javascript" src="static/js/jquery-func.js"></script>
</body>

</html>