<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/img/bg.png">
  <title>Swakala</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/css/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="static\css\main.css" rel="stylesheet">
  <link href="static/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple" rel='stylesheet'
    type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <!--Header Styele fnt-->
  <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Tapestry&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap" rel="stylesheet">
  <link href="static/css/animate-custom.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic' rel='stylesheet'
    type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700' rel='stylesheet' type='text/css'>
  <script src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.custom.js"></script>
  <script src="https://kit.fontawesome.com/9597617eb6.js" crossorigin="anonymous"></script>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  <div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="#home">Swakala</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="#home"> Home</a></li>
            <li> <a href="#about"> About</a></li>
            <li> <a href="#services"> Services</a></li>
            <li> <a href="#SwakalaTips"> tips</a></li>
            <li> <a href="/bot"> SwakalaBot</a></li>
            <li> <a href="#team"> Team</a></li>
            <li> <a href="#contact"> Contact</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>


  <!-- ==== HEADERWRAP ==== -->
  <div id="headerwrap" name="home">
    <header class="clearfix">
      <a href="#Swakalatips" class="btn btn-lg">See Our Works</a>
    </header>
  </div>
  <!-- /headerwrap -->


  <!-- ==== ABOUT ==== -->
  <div id="about" name="about">
    <div class="container">
      <div class="row white">
        <center>
          <div class=""> <img class="img-responsive" src="static/img/about/about1.png"> </div>
        </center>
        <div class="hrabout">
          <hr>
        </div>
        <div class="col-md-12">
          <h3 style="text-align: center;">About us</h3>
          <p style="text-align: justify;">Swakala merupakan sebuah websitechatbot yang bisa membantu anak agar mereka
            punya tempat untuk bercerita tentang hal sulit yang mereka lalui, di aplikasi ini kami bisa memberikan
            solusi yang terbaik untuk anak dan jika kekerasan yang menimpa sang anak sangat fatal kita bisa menyarankan
            mereka untuk melapor ke pihak yang menangani masalah kekerasan anak. </p>
          <h3 style="text-align: center;">Why choose us?</h3>
          <p style="text-align: justify;">Website Swakala di design untuk anak-anak korban kekerasan apapun melalui
            Swakalabot.</p>
        </div>
      </div>
      <!-- row -->
    </div>
  </div>
  <!-- container -->

  <!-- ==== SERVICES ==== -->
  <div id="services" name="services">
    <div class="container">
      <div class="row">
        <h2 class="centered">Services</h2>
        <hr>
        <div class="col-lg-8 col-lg-offset-2">
          <p class="large">Berikut layanan yang dapat kami berikan dalam SwakalaBot</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/bot.png" alt="" style="width: 80px;">
          <h3>SwakalaBot</h3>
          <p> Swakalabot merupakan chatbot yang disediakan oleh website Swakala untuk semua korban kekerasan anak-anak
            dan bagaimana cara penanganannya.</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static\img\services\tips.png" alt="" style="width: 80px;">
          <h3>SwakalaTips</h3>
          <p>SwakalaTips merukapan tips and trick yang disediakan website Swakala untuk memberikan saran dan cara
            penanganan
            tindakan kekerasan Anak-anak yang tepat.</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/fb.png" alt="" style="width: 80px;">
          <h3>SwakalaRan</h3>
          <p>SwakalaRan merupakan tempat memberikan kritik dan saran untuk website Swakala.</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/kontak.png" alt="" style="width: 80px;">
          <h3>SwakalaContact</h3>
          <p>SwakalaTact merupakan kontak yang diberikan oleh team kami agar para pengguna website dapat menghubungi
            kami
            secara langsung jika terdapat masalah pada website Swakala.</p>
        </div>

      </div>
      <!-- row -->
    </div>
  </div>
  <!-- container -->

  <!-- ==== SwakalaTips ==== -->
  <div id="SwakalaTips" name="SwakalaTips">
    <div class="container">
      <div class="row">
        <h2 class="centered">SwakalaTips</h2>
        <hr>
        <div class="col-lg-8 col-lg-offset-2 centered">
          <p class="large">SwakalaTips merukapan tips and trick yang disediakan website Swakala untuk memberikan saran
            dan
            cara penanganan pelanggaran kesejahteraan anak .</p>
        </div>
      </div>
      <!-- /row -->
      <div class="container">
        <div class="row">

          <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                            a modal for each of your projects. -->

          <!-- MODAL 1 -->
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">INFO KESEJAHTERAAN Anak</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/edu.png" alt=""></p>
                  <p>Info kesejahteraan anak merupakan referensi yang disediakan swakala tentang penjelasan
                    kesejahteraan
                    anak dan perlindungan anak</p>
                  <p><b><a
                        href="https://www.dictio.id/t/apa-yang-dimaksud-dengan-kesejahteraan-dan-perlindungan-anak/12388">Visit
                        Site</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 2 -->
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">EDUKASI PADA ANAK</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/eduanak.png" alt=""></p>
                  <p>edukasi anak pada usia dini berfungsi untuk membina dan mengembangkan potensi anak secara optimal,
                    sehingga mereka memiliki perilaku dan kemampuan dasar yang sesuai dengan tahap perkembangannya untuk
                    memasuki pendidikan selanjutnya.
                    Tujuannya adalah membentuk anak yang beriman,
                    berakhlak mulia, berkepribadian luhur, sehat, berilmu, kritis, kreatif, inovatif, mandiri, percaya
                    diri, demokratis, dan bertanggung jawab. Pendidikan anak usia dini juga bertujuan mengembangkan
                    kecerdasan spiritual, intelektual, emosional, kinestetis, dan sosial dalam lingkungan bermain yang
                    edukatif dan menyenangkan.</p>
                  <p><b><a href="https://id.wikipedia.org/wiki/Pendidikan_anak_usia_dini">Visit Site</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 3 -->
          <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">HUKUM</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/hukum.png" alt=""></p>
                  <p>Dalam bagian ini akan diberikan penjelasan mengenai hukum yang mengatur terkait perlindungan korban
                    kekerasan pada anak. </p>
                  <p><b><a href="https://www.youtube.com/watch?v=bAiIHwvhe1E">Visit Site</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 4 -->
          <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">MELINDUNGI DIRI</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/melindungi.png" alt=""></p>
                  <p>Berikut ini adalah cara cara untuk melindungi kesejahteraan anak.</p>
                  <p><b><a
                        href="https://www.klikdokter.com/ibu-anak/tips-parenting/3-cara-lindungi-si-kecil-dari-ancaman-kekerasan">Visit
                        Site</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 5 -->
          <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">PENCEGAHAN</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/pencegahan.png" alt=""></p>
                  <p>Kekerasan terhadap anak sering diistilahkan dengan perlakuan salah terhadap anak atau child abuse.
                    Semua tindakan kekerasan kepada anak-anak akan direkam dalam bawah sadar mereka dan akan dibawa
                    sampai kepada masa dewasa dan terus sepanjang hidupnya.
                    Jika hal ini terjadi, maka akan menjadi rantai dan budaya kekerasan. Jumlah kasus kekerasan pada
                    anak di Indonesia terus meningkat dari tahun ke tahun.
                    Pelaku kekerasan terhadap anak justru adalah orang yang diharapkan oleh sang anak untuk mendapatkan
                    perlindungan, orang yang mereka patut dipercaya, seperti orangtua atau kerabat anak, pengasuh, orang
                    di sekitar tempat tinggal anak, dan guru..</p>
                  <p><b><a href="https://www.youtube.com/watch?v=Qo7Kuum2aMs">Visit
                        Site</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 6 -->
          <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">MENGHADAPI TRAUMA</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/img/Swakalatips/trauma.png" alt=""></p>
                  <p>Anak-anak yang menjadi korban tindak kekerasan umumnya dapat mengalami trauma. Kondisi mental dan
                    kejiwaan yang belum stabil membuat mereka lebih rentan terguncang begitu menghadapi kondisi yang
                    menekan.
                    Trauma yang dialami anak akan berdampak pada kondisi psikologisnya, di antaranya: perubahan suasana
                    hati yang cepat, perilaku impulsif, ketakutan luar biasa, lekas marah, sikap agresif, serta perasaan
                    cemas dan depresi. Ini akan menghambat perkembangannya secara mental.
                    Berikut adalah beberapa cara yang dapat dilakukan oleh orangtua dalam menghadapi trauma pada anak
                    korban kekerasan.
                  </p>
                  <p><b><a
                        href="https://pijarpsikologi.org/blog/bagaimana-menghadapi-trauma-pada-anak-korban-kekerasan">Visit
                        Site</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- PORTFOLIO IMAGE 1 -->
          <div class="col-md-4 ">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/edu.png" alt="">
                <figcaption>
                  <h5>INFO KESEJAHTERAAN ANAK</h5>
                  <a data-toggle="modal" href="#myModal1" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 2 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/eduanak.png" alt="">
                <figcaption>
                  <h5>EDUKASI ANAK</h5>
                  <a data-toggle="modal" href="#myModal2" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 3 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/hukum.png  " alt="">
                <figcaption>
                  <h5>HUKUM</h5>
                  <a data-toggle="modal" href="#myModal3" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>
        </div>
        <!-- /row -->

        <!-- PORTFOLIO IMAGE 4 -->
        <div class="row">
          <div class="col-md-4 ">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/melindungi.png" alt="">
                <figcaption>
                  <h5>MELINDUNGI DIRI</h5>
                  <a data-toggle="modal" href="#myModal4" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 5 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/pencegahan.png" alt="">
                <figcaption>
                  <h5>PENCEGAHAN KEKERASAN ANAK</h5>
                  <a data-toggle="modal" href="#myModal5" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 6 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/img/Swakalatips/trauma.png" alt="">
                <figcaption>
                  <h5>MENGHADAPI TRAUMA</h5>
                  <a data-toggle="modal" href="#myModal6" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>
          <!-- /col -->
        </div>
        <!-- /row -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /row -->
  </div>
  </div>
  <!-- /container -->

  <!-- ==== TEAM MEMBERS ==== -->
  <div id="team" name="team">
    <div class="container">
      <div class="row centered">
        <h2 class="centered">Swakala Team</h2>
        <hr>
        <div class="col-lg-4 centered"> <img class="img img-circle" src="static/img/team/lulu.jpg" height="150px"
            width="150px" alt="">
          <h4>Luluatul Jihan</h4>
          <p>Design UI/UX & Modelling</p>
          <a href="https://instagram.com/ltl.jihan_"><i class="fa fa-instagram"></i></a>
        </div>
        <div class="col-lg-4 centered"> <img class="img img-circle" src="static/img/team/faizal.jpeg" height="150px"
            width="150px" alt="">
          <h4>Faizal Mustafa</h4>
          <p>Front-End & Deployment</p>
          <a href="https://instagram.com/faizalmstafa_?igshid=MzNlNGNkZWQ4Mg=="><i class="fa fa-instagram"></i></a>
        </div>
        <div class="col-lg-4 centered"> <img class="img img-circle" src="static/img/team/hilwa.jpeg" height="150px"
            width="150px" alt="">
          <h4>Hilwa Ajahro</h4>
          <p>Testing</p>
          <a href="http://instagram.com/hilwa_ajhrr"><i class="fa fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-md-6 centered"> <img class="img img-circle" src="static/img/team/renada.jpg" height="150px"
          width="150px" alt="">
        <h4>Renada Amanda p</h4>
        <p>Dataset & Data Acquisition</p>
        <a href="https://instagram.com/renadaamanda"><i class="fa fa-instagram"></i></a> >
      </div>
      <div class="col-lg-6 centered"> <img class="img img-circle" src="static/img/team/mia.jpg" height="150px"
          width="150px" alt="">
        <h4>Miawati Soleha</h4>
        <p>Data Exploration</p>
        <a href="https://instagram.com/miawatisoleha94?igshid=MzNlNGNkZWQ4Mg==x"><i class="fa fa-instagram"></i></a>
      </div>
    </div>
    <p class="large">Website SwakalaBot ini dibuat untuk menyelesaikan project akhir kami di PT.MITRA SEMERU POWER
      ACADEMY.
      kelompok kami Seperti Bhineka Tunggal Ika yaitu berbeda beda namun tetap satu jua yaitu walaupun kita berasal dari
      berbeda beda Universitas Namun, Kita bersatu untuk menyelesaikan Tujuan yang sama yaitu menyelesaikan project
      akhir
      ini.
    </p>
  </div>
  </div>
  </div>
  </div>
  <!-- row -->
  </div>
  <!-- container -->

  <!-- ==== CONTACT ==== -->
  <div id="contact" name="contact">
    <div class="container">
      <div class="row">
        <h2 class="centered">Contact Us</h2>
        <hr>
        <div class="col-md-4 centered"> <i class="fa fa-map-marker fa-2x"></i>
          <p>Jakarta, Indonesia</p>
        </div>
        <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
          <p>Swakalabot@gmail.com</p>
        </div>
        <div class="col-md-4"> <i class="fa fa-phone fa-2x"></i>
          <p>0856-4135-4125</p>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <p>Terima kasih sudah berkunjung di website kami. silahkan memberi kritik dan saran agar website swakala kami
            menjadi Lebih baik lagi.</p>
          <form id="contact" method="post" class="form" role="form">
            <div class="row">
              <!-- form -->
            </div>
        </div>
        <!-- row -->

      </div>
    </div>
    <!-- container -->

    <div id="footerwrap">
      <div class="container">
        <div class="row">
          <div class="col-md-8"> <span class="copyright">© 2023 <a href="index.html" rel="rev-logo">Team</a>Hugku</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/retina.js"></script>
  <script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="static/js/smoothscroll.js"></script>
  <script type="text/javascript" src="static/js/jquery-func.js"></script>
</body>

</html>