<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="/static/img/Era_Beauty_Care_logo_removebg.png">
  <title>Era Beauty Care </title>
  <link href="/static/css/bootstrap.css" rel="stylesheet">
  <link href="static/css/main.css" rel="stylesheet">
  <link href="static/css/font-awesome.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|outline|emboss|shadow-multiple" rel='stylesheet'
    type='text/css'>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
  <script src="static/js/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/modernizr.custom.js"></script>
  <script src="https://kit.fontawesome.com/9597617eb6.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <style>
    #headerwrap {
      background: url(static/img/banner.png) no-repeat center top;
    }

    /* Style untuk tombol info */
    .btn-info {
      background-color: #17a2b8;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    .btn-info:hover {
      background-color: #138496;
    }

    /* Style untuk tombol peringatan */
    .btn-warning {
      background-color: #ffc107;
      color: #212529;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }
    .btn-warning:hover {
      background-color: #e0a800;
    }

    /* Style untuk tombol bahaya */
    .btn-danger {
      background-color: #dc3545;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    .btn-danger:hover {
      background-color: #c82333;
    }

    /* Style untuk tombol sukses */
    .btn-success {
      background-color: #28a745;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 14px;
    }

    .btn-success:hover {
      background-color: #218838;
    }

    /* Mengubah warna teks saat di-highlight */
    ::selection {
      background-color: yellow;
      /* Warna latar belakang */
      color: black;
      /* Warna teks */
    }

    .slider {
      width: 100%;
      /* Atur lebar slider */
      overflow: hidden;
      /* Pastikan gambar yang melebihi ukuran slider tersembunyi */
    }

    .slide {
      float: left;
      /* Atur agar slide mengapit sejajar */
      width: 100%;
      /* Atur lebar slide */
    }

    .slide img {
      width: 100%;
      /* Atur lebar gambar agar mengisi slide */
      height: auto;
      /* Pastikan gambar menyesuaikan rasio aspek */
    }
  </style>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  <div id="navbar-main">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span
              class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="#home">Era Beauty care</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li> <a href="#home"> Home</a></li>
            <li> <a href="#about"> About</a></li>
            <li> <a href="#services"> Services</a></li>
            <li> <a href="#Tips"> tips</a></li>
            <li> <a href="/bot"> ChatBot</a></li>
            <li> <a href="/products">List Treatment</a></li>
            <li> <a href="/skin_detection"> Cek Kulit wajah</a></li>
            <li> <a href="#contact"> Contact</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Disabled</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <!-- 
  <div class="slider">
    <div class="slide">
      <img src="static/image/1.heic" alt="Gambar 1">
    </div>
    <div class="slide">
      <img src="static/image/3.heic" alt="Gambar 2">
    </div>
  </div> -->

  <!-- ==== ABOUT ==== -->
  <div id="about" name="about">
    <div class="container">
      <div class="row white">
        <div style="text-align: center;">
          <figure style="display: inline-block;">
            <img class="img-responsive" src="static/img/about.png">
          </figure>
        </div>
        <div id="cta" name="contact">
          <div class="container">
            <div class="row">
              <h2 class="centered"><a href="/bot"><button class="btn btn-warning" type="button">Chat
                    Sekarang</button></a></h2>
              <h2 class="centered"><a href="/skin_detection"><button class="btn btn-warning" type="button">Cek Wajah
                    Berminyak / Kering</button></a></h2>
            </div>
          </div>
        </div>
        <div class="hrabout">
          <hr>
        </div>
        <div class="col-md-12">
          <h3 style="text-align: center;">About us</h3>
          <p style="text-align: justify;">Era Beauty Care adalah platform inovatif yang menyediakan layanan konsultasi
            dan tips perawatan kulit wajah secara interaktif melalui chatbot.
            Dibangun dengan teknologi kecerdasan buatan terkini, chatbot kami dapat memberikan saran yang
            dipersonalisasi sesuai dengan jenis kulit dan masalah kulit yang dialami pengguna.
            Dari tips HYDRAPEEL hingga rekomendasi produk perawatan,
            Era Beauty Care membantu pengguna untuk meraih kulit wajah yang sehat dan bercahaya. Selamat datang di Era
            Beauty Care, teman perawatan kulit wajah terpercaya Anda! </p>
          <h3 style="text-align: center;">Why choose us?</h3>
          <p style="text-align: justify;">1.Pengalaman Personalisasi: Kami mengerti bahwa setiap individu memiliki
            kebutuhan kulit yang unik. Dengan pendekatan yang personal, kami menawarkan solusi perawatan yang
            disesuaikan dengan jenis kulit dan masalah kulit masing-masing pengguna.<br>

            2.Teknologi Terdepan: Dibangun dengan menggunakan teknologi kecerdasan buatan terkini, chatbot Era Beauty
            Care dapat memberikan saran yang akurat dan relevan secara cepat dan efisien.<br>

            3. Kemudahan Akses: Era Beauty Care menyediakan layanan konsultasi perawatan kulit yang dapat diakses kapan
            saja dan di mana saja melalui platform digital. Anda tidak perlu repot pergi ke salon atau klinik kecantikan
            untuk mendapatkan saran perawatan yang berkualitas.<br>

            4. Rekomendasi Ahli: Tim kami terdiri dari para ahli perawatan kulit yang berpengalaman dan terlatih. Mereka
            siap memberikan saran dan tips terbaik untuk membantu Anda mencapai kulit wajah yang sehat dan
            bercahaya.<br>

            5. Dukungan Penuh: Kami peduli dengan kepuasan dan kepercayaan Anda. Tim dukungan pelanggan kami siap
            membantu menjawab pertanyaan dan memberikan bantuan apapun yang Anda butuhkan selama proses konsultasi dan
            perawatan.</p>
        </div>
      </div>
      <!-- row -->
    </div>
  </div>
  <!-- container -->

  <!-- ==== SERVICES ==== -->
  <div id="services" name="services">
    <div class="container">
      <div class="row">
        <h2 class="centered">Services</h2>
        <hr>
        <div class="col-lg-8 col-lg-offset-2">
          <p class="large">Berikut layanan yang dapat kami berikan dalam Era Beauty Care</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/bot.png" alt="" style="width: 80px;">
          <h3>ChatBot</h3>
          <p>Chatbot rekomendasi treatment kulit wajah adalah asisten digital yang diciptakan untuk membantu Anda
            menemukan treatment perawatan kulit
            yang sesuai dengan kebutuhan Anda. Dengan menggunakan kecerdasan buatan dan algoritma yang canggih. <a
              class="btn btn-success" href="/bot">klik disini</a></p>
        </div>
        <div class="col-lg-3 callout"> <img src="static\img\services\tips.png" alt="" style="width: 80px;">
          <h3>Era Beauty Care Tips</h3>
          <p>Era Beauty Care Tips merukapan tips and trick yang disediakan website Era Beauty Care untuk memberikan
            saran dan cara
            penanganan / treatment wajah dengan baik sesuai jenis kulit wajah anda.</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/fb.png" alt="" style="width: 80px;">
          <h3>Era Beauty Care Ran</h3>
          <p>Era Beauty Care Ran merupakan tempat memberikan kritik dan saran untuk website Era Beauty Care.</p>
        </div>
        <div class="col-lg-3 callout"> <img src="static/img/services/kontak.png" alt="" style="width: 80px;">
          <h3>Era Beauty Care Contact</h3>
          <p>Era Beauty CareTact merupakan kontak yang diberikan oleh team kami agar para pengguna website dapat
            menghubungi
            kami
            secara langsung jika terdapat masalah pada website Era Beauty Care.</p>
        </div>

      </div>
      <!-- row -->
    </div>
  </div>
  <!-- container -->

  <!-- ==== SwakalaTips ==== -->
  <div id="Tips" name="SwakalaTips">
    <div class="container">
      <div class="row">
        <h2 class="centered">Era Beauty Care Tips</h2>
        <hr>
        <div class="col-lg-8 col-lg-offset-2 centered">
          <p class="large">Era Beauty Care Tips merukapan tips and trick yang disediakan website Era Beauty Care untuk
            memberikan saran
            dan
            cara penanganan kulit wajah anda . Berikut beberapa Product tretment kami.</p>
        </div>
      </div>
      <!-- /row -->
      <div class="container">
        <div class="row">

          <!-- MODAL SHOW THE PORTFOLIO IMAGE. In this demo, all links point to this modal. You should create
                            a modal for each of your projects. -->

          <!-- MODAL 1 -->
          <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Hydrapeel</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/image/1.heic" alt=""></p>
                  <p>Halo Era sister's 💚💚
                    Tahukah kamu facial tidak harus sakit ?
                    Hydrapeel menawarkan deep cleansing sekaligus melembabkan kulit dengan cara yang lembut dan bebas
                    rasa sakit 😍😍

                    Available at Era Beauty Care 💚.</p>
                  <p><b><a href="https://www.alodokter.com/perawatan-wajah-yang-bisa-anda-dapatkan-di-klinik-kecantikan"
                        target="_blank" style="text-decoration: underline;">Referensi</a></b></p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 2 -->
          <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Hydrapeel</h4>
                </div>
                <div class="modal-body">
                  <div class="row col-12">
                    <video width="570" height="420" controls autoplay>
                      <source src="static/image/2.mp4" type="video/mp4">
                      Your browser does not support the video tag.
                    </video>
                  </div>
                  <p>HYDRAPEEL memunculkan lapisan kulit baru dengan microdermabrasi, exfoliasi lembut dan menenangkan.
                    Debu dan kotoran penyumbat pori dibersihkan tanpa rasa sakit. Hydrapeel juga melembutkan kulit dan
                    menutrisi dengan oxygen infusion
                  </p>
                  <p><b><a
                        href="https://www.alodokter.com/perawatan-wajah-yang-bisa-anda-dapatkan-di-klinik-kecantikan">Referensi</a></b>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 3 -->
          <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Hydrapeel</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/image/3.heic" alt=""></p>
                  <p>
                    ✅ Aman untuk kulit sensitif & Berjerawat
                    ✅ Tanpa rasa sakit
                    ✅ Menghidrasi kulit
                    ✅ Mempersiapkan kulit Untuk treatment selanjutnya
                  </p>
                  <p><b><a
                        href="https://www.alodokter.com/perawatan-wajah-yang-bisa-anda-dapatkan-di-klinik-kecantikan">Referensi</a></b>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 4 -->
          <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">DNA Salmon</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/image/4.jpg" alt=""></p>
                  <p>Treatment dengan DNA Salmon punya segudang manfaat untuk kulitmu lho...dengan minim resiko🤔
                    Kelebihan :
                    Mencerahkan Kulit Wajah
                    Mengembalikan Kelembapan kulit
                    Memperbaiki struktur kulit
                    memudarkan flek hitam di wajah
                    menghilangkan kerutan di wajah
                    menghilangkan kantung mara, garis senyum dan garis dagu
                    Mencegah munculnya penuaan dini
                    kekurangan :
                    Resiko efek samping rendah
                    Akan sembuh beberapa hari setelah perawatan
                    Biaya perawatan sedikit mahal
                    Masa sih Era Sister's masih ragu mau treatment di @erabeautycare.tegal 😉

                    Yuk Reservasi sekarang 🤗👇
                    ☎️0813-9895-7791/click link on bio.</p>
                  <p><b><a
                        href="https://www.alodokter.com/perawatan-wajah-yang-bisa-anda-dapatkan-di-klinik-kecantikan">Referensi</a></b>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 5 -->
          <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Treatment Lainnya</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/image/5.heic" alt=""></p>
                  <p>Hallo dears 🥰🥰
                    Keriput tidak hanya datang akibat bertambahnya usia saja lho...tetapi beberapa faktor lain juga
                    mempengaruhi kondisi kulit seseorang.Hal ini
                    disebabkan hilangnya elastisitas kulit oleh karena tingginya stres,tingkat polusi,perokok,pencemaran
                    lingkungan,radikal benas,dan sering terpapar sinar matahari.

                    Tapi...banyak cara untuk memperlambat penuaan tergantung pada usaha kita, ada beberapa perawatan di
                    Era untuk memperlambat penuaan dini.

                    YUK DAPATKAN 3 PERAWATAN TERBAIK HANYA DI ERA BEAUTY CARE ✨😍😍

                    BOOK APPONTMENT 👇
                    ☎ 0813-9895-7791
                  <p><b><a
                        href="https://www.alodokter.com/perawatan-wajah-yang-bisa-anda-dapatkan-di-klinik-kecantikan">Referensi</a></b>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- MODAL 6 -->
          <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title">Chemical Peeling</h4>
                </div>
                <div class="modal-body">
                  <p><img class="img-responsive" src="static/image/6.webp" alt=""></p>
                  <p>Perawatan ini bisa dilakukan untuk mengatasi masalah perubahan warna kulit atau warna kulit wajah
                    tidak merata, misalnya flek atau bercak
                    kehitaman di kulit. Selain itu, chemical peeling juga bisa dilakukan untuk membantu mengatasi
                    jerawat.

                    Prosedur ini dilakukan dengan menggunakan spons dan cairan kimia khusus untuk merangsang
                    pengelupasan kulit. Dengan demikian, sel-sel kulit
                    mati, debu, dan minyak berlebihan di wajah bisa terangkat. Chemical peeling juga dapat dilakukan
                    untuk merangsang pembentukan jaringan kulit wajah baru yang sehat.

                    Meskipun hasilnya menjanjikan, ada risiko yang harus Anda ketahui. Perawatan ini bisa membuat kulit
                    menjadi kering, iritasi, kemerahan, dan
                    terasa perih. Pada kasus tertentu, chemical peeling juga bisa menyebabkan perubahan warna kulit
                    wajah secara permanen dan terbentuknya luka parut.
                  </p>
                  <p><b><a
                        href="https://www.alodokter.com/perawatan-wajah-yang-bisa-anda-dapatkan-di-klinik-kecantikan">Referensi</a></b>
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- /.modal -->

          <!-- PORTFOLIO IMAGE 1 -->
          <div class="col-md-4 ">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/image/1.heic" alt="">
                <figcaption>
                  <h5>HYDRAPEEL</h5>
                  <a data-toggle="modal" href="#myModal1" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 2 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/image/2.gif" alt="">
                <figcaption>
                  <h5>HYDRAPEEL</h5>
                  <a data-toggle="modal" href="#myModal2" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- <iframe src="static/image/2.gif" width="100%" height="308" frameborder="0" allowfullscreen></iframe>
              <div style="display: flex;
              width: 100%;    padding: 5px;
    color: #fff;
    background-color: #555;    font-family: 'Josefin Sans', sans-serif;
    justify-content: space-between;
    
    font-size: 16px;">
              <h5 style="font-weight: 300; text-decoration:  solid; color: #fff;">HYDRAPEEL</h5>
                  <a data-toggle="modal" href="#myModal2" class="btn btn-default">More Details</a>
                </div> -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 3 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/image/3.heic" alt="">
                <figcaption>
                  <h5>HYDRAPEEL</h5>
                  <a data-toggle="modal" href="#myModal3" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>
        </div>
        <!-- /row -->

        <!-- PORTFOLIO IMAGE 4 -->
        <div class="row">
          <div class="col-md-4 ">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/image/4.jpg" alt="">
                <figcaption>
                  <h5>DNA Salmon</h5>
                  <a data-toggle="modal" href="#myModal4" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 5 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/image/5.heic" alt="">
                <figcaption>
                  <h5>Treatment Lainnya</h5>
                  <a data-toggle="modal" href="#myModal5" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>

          <!-- PORTFOLIO IMAGE 6 -->
          <div class="col-md-4">
            <div class="grid mask">
              <figure> <img class="img-responsive" src="static/image/6.webp" alt="">
                <figcaption>
                  <h5>Chemical Peeling</h5>
                  <a data-toggle="modal" href="#myModal6" class="btn btn-default">More Details</a>
                </figcaption>
                <!-- /figcaption -->
              </figure>
              <!-- /figure -->
            </div>
            <!-- /grid-mask -->
          </div>
          <!-- /col -->
        </div>
        <!-- /row -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /row -->
  </div>
  </div>
  <!-- /container -->

  <!-- ==== TEAM MEMBERS ==== -->

  </div>
  </div>
  </div>
  <!-- row -->
  </div>
  <!-- container -->
  <!-- ==== Call to action ==== -->
  <div id="cta" name="contact">
    <div class="container">
      <div class="row">
        <h2 class="centered"><a href="/products"><button class="btn btn-warning" type="button">Booking Treatment
              Sekarang</button></a></h2>
      </div>
    </div>
  </div>

  <!-- ==== CONTACT ==== -->
  <div id="contact" name="contact">
    <div class="container">
      <div class="row">
        <h2 class="centered">Contact Us</h2>
        <hr>
        <div class="col-md-4 centered"><a href="https://maps.app.goo.gl/jraJsy8EMd9eHyAT9"> <i
              class="fa fa-map-marker fa-2x"></i>
            <p>Tegal, Jawa Tengah, Indonesia</p>
          </a>
        </div>
        <div class="col-md-4"><a href="https://erabeautycare.business.site/?utm_source=gmb&utm_medium=referral"> <i
              class="fa fa-globe fa-2x"></i>
            <p>busines.site</p>
          </a>
        </div>
        <div class="col-md-4"> <i class="fa fa-envelope-o fa-2x"></i>
          <p>Era_Beauty_Care@gmail.com</p>
        </div>
        <div class="col-md-4"><a href="https://wa.me/6281398957791"><i class="fa fa-phone fa-2x"></i>
            <p>0813-9895-7791</p>
          </a>
        </div>
        <div class="col-md-4"><a href="https://www.instagram.com/erabeautycare.tegal/"> <i
              class="fa fa-instagram fa-2x"></i>
            <p>Erabaeutycare.tegal</p>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 centered">
          <p>Terima kasih sudah berkunjung di website kami. silahkan memberi kritik dan saran agar website Era Beauty
            Care kami
            menjadi Lebih baik lagi. kirim ke <a href="https://wa.me/6281398957791">0813-9895-7791</a></p>
          <form id="contact" method="post" class="form" role="form">
            <div class="row">
              <!-- form -->
            </div>
        </div>

        <!-- row -->

      </div>

    </div>
  </div>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15843.930368992887!2d109.1876715!3d-6.8926852!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6fb9d3a4929de3%3A0xf4901ab7bac45140!2sEra%20Beauty%20Care!5e0!3m2!1sen!2sid!4v1708072835821!5m2!1sen!2sid"
    width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>

  <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-md-8"> <span class="copyright">©2024 all right reserved <a href="index.html"
              rel="rev-logo"></span>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script type="text/javascript" src="static/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="static/js/retina.js"></script>
  <script type="text/javascript" src="static/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="static/js/smoothscroll.js"></script>
  <script type="text/javascript" src="static/js/jquery-func.js"></script>
</body>
</html>