{% extends 'include/base.html' %}
{% block content %}

<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/" class="link"><i class="ri-home-3-line fs-5"></i></a>
          </li>
          <li class="breadcrumb-item" aria-current="page"> <a href="/products"  class="link">LIST TREATMENT</a></li>
          <li class="breadcrumb-item active" aria-current="page">DETAIL TREATMENT</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">DETAIL TREATMENT</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Row -->

      <!-- Row -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- ============================================================= -->
  <!-- Start Page Content -->
  <!-- ============================================================= -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ product.nama }}</h3>
          <h6 class="card-subtitle">52,912 Ratings & 4,015 Reviews</h6>
          <div class="row">
            <div class="col-lg-4 col-xl-3 col-md-3 col-sm-6">
              <div class="white-box text-center border mb-3 mt-4">
                <img
                  src="../../assets/images/product/eco-apple-iphone-11.png"
                  class="img-fluid"
                />
              </div>
              <div class="row gx-2">
                <div class="col-md-12">
                  <a
                    href="https://api.whatsapp.com/send/?phone=6281398957791&text=saya mau booking {{ product.nama }}&type=phone_number&app_absent=0"
                    class="btn btn-primary w-100"
                  >
                    Buy Now
                  </a>
                </div>
              </div>
            </div>
            <div class="col-lg-8 col-xl-9 col-md-9 col-sm-6">
              <h2 class="mt-4">
                {{ product.harga }}
                <small class="text-success fs-4">(36% off)</small>
              </h2>

              <h4 class="mt-4">Limited Discount</h4>
              <ul class="list-group list-group-flush ps-0">
                <li
                  class="
                    list-group-item
                    d-flex
                    align-items-start
                    border-bottom-0
                    py-1
                    px-0
                    text-muted
                  "
                >
                  <i
                    class="ri-bookmark-line fs-4 text-success me-2"
                  ></i>
                  discount 5% dan Unlimited Cashback menggunakan kartu kredit Axis Bank
                  
                </li>
                <li
                  class="
                    list-group-item
                    d-flex
                    align-items-start
                    border-bottom-0
                    py-1
                    px-0
                    text-muted
                  "
                >
                  <i
                    class="ri-bookmark-line fs-4 text-success me-2"
                  ></i>
                  discount 10% menggunakan HDFC Bank Mastercard Credit card
                  untuk first time transaction, syarat dan ketentuan berlaku
                </li>
              </ul>

              <h4 class="mt-5">Key Highlights</h4>
              <ul class="list-group list-group-flush ps-0">
                <li
                  class="
                    list-group-item
                    border-bottom-0
                    py-1
                    px-0
                    text-muted
                  "
                >
                  <i
                    data-feather="check-circle"
                    class="text-primary feather-sm me-2"
                  ></i>
                  Menggunakan Teknologi Terkini
                </li>
                <li
                  class="
                    list-group-item
                    border-bottom-0
                    py-1
                    px-0
                    text-muted
                  "
                >
                  <i
                    data-feather="check-circle"
                    class="text-primary feather-sm me-2"
                  ></i>
                  tanpa menggunakan bahan kimia terlarang
                </li>
                <li
                  class="
                    list-group-item
                    border-bottom-0
                    py-1
                    px-0
                    text-muted
                  "
                >
                  <i
                    data-feather="check-circle"
                    class="text-primary feather-sm me-2"
                  ></i>
                  ruangan nyaman dan ber AC
                </li>
                <li
                  class="
                    list-group-item
                    border-bottom-0
                    py-1
                    px-0
                    text-muted
                  "
                >
                  <i
                    data-feather="check-circle"
                    class="text-primary feather-sm me-2"
                  ></i>
                  Testimoni banyak
                </li>
                <li
                  class="
                    list-group-item
                    border-bottom-0
                    py-1
                    px-0
                    text-muted
                  "
                >
                  <i
                    data-feather="check-circle"
                    class="text-primary feather-sm me-2"
                  ></i>
                  bergaransi 1 tahun apabila timbul efek samping yang tidak terduga
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>Specifications</h3>
            <div class="table-responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td width="390"></td>
                    <td class="text-dark">
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- ============================================================= -->
  <!-- End PAge Content -->
  <!-- ============================================================= -->
</div>

<!-- ============================================================= -->
<!-- End PAge Content -->
<!-- ============================================================= -->
</div>

{% endblock %}