{% extends 'include/base.html' %}
{% block content %}

<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/" class="link"><i class="ri-home-3-line fs-5"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">LIST TREATMENT</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">LIST TREATMENT</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Row -->

      <!-- Row -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- ============================================================= -->
  <!-- Start Page Content -->
  <!-- ============================================================= -->
  <div class="row">
    <div class="col-lg-3 col-xl-3 d-flex align-items-strech">
      <div class="card w-100">
        <div class="text-center pt-4">
          <a href="eco-products-detail.html">
            <img
              src="../../assets/images/product/eco-redmi-note-8.png"
              width="100"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <a
            href="eco-products-detail.html"
            class="font-weight-medium text-dark fs-6"
            >Redmi Note 8</a
          >
          <h5 class="fs-5 text-muted fw-normal mb-0 mt-1">$4000</h5>
          <div class="product-footer">
            <a href="#" class="link">
              <i class="ri-heart-line fs-7"></i>
            </a>
          </div>
          <a
            href="eco-products-cart.html"
            class="btn btn-outline-primary w-100 d-block mt-3"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 d-flex align-items-strech">
      <div class="card w-100">
        <div class="text-center pt-4">
          <a href="eco-products-detail.html">
            <img
              src="../../assets/images/product/eco-samsung-galaxy-s8.png"
              width="100"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <a
            href="eco-products-detail.html"
            class="font-weight-medium text-dark fs-6"
            >Samsung Galaxy</a
          >
          <h5 class="fs-5 text-muted fw-normal mb-0 mt-1">$5000</h5>
          <div class="product-footer">
            <a href="#" class="link">
              <i class="ri-heart-line fs-7"></i>
            </a>
          </div>
          <a
            href="eco-products-cart.html"
            class="btn btn-outline-primary w-100 d-block mt-3"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 d-flex align-items-strech">
      <div class="card w-100">
        <div class="text-center pt-4">
          <a href="eco-products-detail.html">
            <img
              src="../../assets/images/product/eco-apple-iphone-11.png"
              width="100"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <a
            href="eco-products-detail.html"
            class="font-weight-medium text-dark fs-6"
            >iPhone 11</a
          >
          <h5 class="fs-5 text-muted fw-normal mb-0 mt-1">$15000</h5>
          <div class="product-footer">
            <a href="#" class="link">
              <i class="ri-heart-line fs-7"></i>
            </a>
          </div>
          <a
            href="eco-products-cart.html"
            class="btn btn-outline-primary w-100 d-block mt-3"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 d-flex align-items-strech">
      <div class="card w-100">
        <div class="text-center pt-4">
          <a href="eco-products-detail.html">
            <img
              src="../../assets/images/product/eco-mi-redmi-8.png"
              width="100"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <a
            href="eco-products-detail.html"
            class="font-weight-medium text-dark fs-6"
            >Mi Redmi 8</a
          >
          <h5 class="fs-5 text-muted fw-normal mb-0 mt-1">$3000</h5>
          <div class="product-footer">
            <a href="#" class="link">
              <i class="ri-heart-line fs-7"></i>
            </a>
          </div>
          <a
            href="eco-products-cart.html"
            class="btn btn-outline-primary w-100 d-block mt-3"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 d-flex align-items-strech">
      <div class="card w-100">
        <div class="text-center pt-4">
          <a href="eco-products-detail.html">
            <img
              src="../../assets/images/product/eco-redmi-9.png"
              width="100"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <a
            href="eco-products-detail.html"
            class="font-weight-medium text-dark fs-6"
            >Mi Redmi 9</a
          >
          <h5 class="fs-5 text-muted fw-normal mb-0 mt-1">$4000</h5>
          <div class="product-footer">
            <a href="#" class="link">
              <i class="ri-heart-line fs-7"></i>
            </a>
          </div>
          <a
            href="eco-products-cart.html"
            class="btn btn-outline-primary w-100 d-block mt-3"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 d-flex align-items-strech">
      <div class="card w-100">
        <div class="text-center pt-4">
          <a href="eco-products-detail.html">
            <img
              src="../../assets/images/product/eco-redmi-note-8.png"
              width="100"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <a
            href="eco-products-detail.html"
            class="font-weight-medium text-dark fs-6"
            >Redmi Note 8</a
          >
          <h5 class="fs-5 text-muted fw-normal mb-0 mt-1">$4000</h5>
          <div class="product-footer">
            <a href="#" class="link">
              <i class="ri-heart-line fs-7"></i>
            </a>
          </div>
          <a
            href="eco-products-cart.html"
            class="btn btn-outline-primary w-100 d-block mt-3"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 d-flex align-items-strech">
      <div class="card w-100">
        <div class="text-center pt-4">
          <a href="eco-products-detail.html">
            <img
              src="../../assets/images/product/eco-samsung-galaxy-s8.png"
              width="100"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <a
            href="eco-products-detail.html"
            class="font-weight-medium text-dark fs-6"
            >Samsung Galaxy</a
          >
          <h5 class="fs-5 text-muted fw-normal mb-0 mt-1">$5000</h5>
          <div class="product-footer">
            <a href="#" class="link">
              <i class="ri-heart-line fs-7"></i>
            </a>
          </div>
          <a
            href="eco-products-cart.html"
            class="btn btn-outline-primary w-100 d-block mt-3"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-xl-3 d-flex align-items-strech">
      <div class="card w-100">
        <div class="text-center pt-4">
          <a href="eco-products-detail.html">
            <img
              src="../../assets/images/product/eco-apple-iphone-11.png"
              width="100"
              class="img-fluid"
              alt="..."
            />
          </a>
        </div>
        <div class="card-body">
          <a
            href="eco-products-detail.html"
            class="font-weight-medium text-dark fs-6"
            >iPhone 11</a
          >
          <h5 class="fs-5 text-muted fw-normal mb-0 mt-1">$15000</h5>
          <div class="product-footer">
            <a href="#" class="link">
              <i class="ri-heart-line fs-7"></i>
            </a>
          </div>
          <a
            href="eco-products-cart.html"
            class="btn btn-outline-primary w-100 d-block mt-3"
            >Add to Cart</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================= -->
  <!-- End PAge Content -->
  <!-- ============================================================= -->
</div>

<!-- ============================================================= -->
<!-- End PAge Content -->
<!-- ============================================================= -->
</div>

{% endblock %}