{% extends 'root/base.html' %}
{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">
<style>
    .form-inline .form-group {
        display: flex;
        align-items: center;
    }
    .form-inline .form-group > * {
        margin-right: 15px;
    }
</style>
{% endblock %}
{% block content %}

<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/home" class="link"><i class="ri-home-3-line fs-5"></i></a>
          </li>
          <li class="breadcrumb-item" aria-current="page"> <a href="/products"  class="link">LIST TREATMENT</a></li>
          <li class="breadcrumb-item active" aria-current="page">DETAIL TREATMENT</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">DETAIL TREATMENT</h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Row -->

      <!-- Row -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- ============================================================= -->
  <!-- Start Page Content -->
  <!-- ============================================================= -->
  <div class="row">
    <!-- Column -->
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ product.nama }}</h3>
          <h6 class="card-subtitle">{{ product.rating }} Ratings & {{ product.review }} Reviews</h6>
          <div class="row">
            <div class="col-lg-4 col-xl-3 col-md-3 col-sm-6">
              <div class="white-box text-center border mb-3 mt-4">
                <img
                  src="{{ product.gambar }}"
                  class="img-fluid"
                />
              </div>
            </div>
            <div class="col-lg-8 col-xl-9 col-md-9 col-sm-6">
              <h2 class="mt-4">
                {{ product.harga }}
                <small class="text-success fs-4">
              </small>
              </h2>
              <p>{{ product.deskripsi | replace('\n', '<br>') | safe }}</p>
             

              <h4 class="mt-5">Key Highlights</h4>
              <ul class="list-group list-group-flush ps-0">
                {{ product.key_highlight | replace('\n', '<br>') | safe}}
               
              </ul>

        <h4 class="mt-5">Booking Treatment</h4>
        <form class="form-inline" id="bookingForm">
            <div class="form-group mb-2">
                <label for="date" class="mr-2">Pilih Tanggal</label>
                <input type="text" class="form-control" id="date" placeholder="Choose a date">
            </div>
            <div class="form-group mb-2">
                <label for="time" class="mr-2">Pilih Jam</label>
                <input type="text" class="form-control" id="time" placeholder="Choose a time">
            </div>
            <button type="button" class="btn btn-primary mb-2" id="checkBookingButton">Book Now</button>
        </form>

            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <h3>Keterangan</h3>
            {{ product.keterangan | replace('\n', '<br>') | safe }}
          </div>
        </div>
      </div>
    </div>
    <!-- Column -->
  </div>
  <!-- ============================================================= -->
  <!-- End PAge Content -->
  <!-- ============================================================= -->
</div>

<!-- ============================================================= -->
<!-- End PAge Content -->
<!-- ============================================================= -->
</div>

<!-- Modal Bootstrap -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="bookingModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="bookingModalLabel">Booking Treatment</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="modalBookingForm">
          <div class="mb-3">
            <label for="name" class="form-label">Nama</label>
            <input type="text" class="form-control" id="name" required>
          </div>
          <div class="mb-3">
            <label for="address" class="form-label">Alamat</label>
            <input type="text" class="form-control" id="address" required>
          </div>
          <div class="mb-3">
            <label for="phone" class="form-label">No HP</label>
            <input type="text" class="form-control" id="phone" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>
<script>
    const bookings = JSON.parse('{{ bookings|tojson|safe }}');

    $(document).ready(function () {
        $('#date').datepicker({
            format: 'yyyy-mm-dd',
            startDate: '0d',
            autoclose: true
        });

        $('#time').timepicker({
            minuteStep: 30,
            showMeridian: false,
            defaultTime: false
        });

        $('#checkBookingButton').on('click', function () {
            var date = $('#date').val();
            var time = $('#time').val();
            console.log(date)
            if (date && time) {
                if (bookings === ""||bookings==="[]"){

                }
                else{
                var isBooked = bookings.some(function (booking) {
                    console.log("db :",booking.tanggal)
                    console.log("db :",booking.jam)
                    console.log("user input:",date)
                    console.log("user input:",time)
                    return booking.tanggal === date && booking.jam === time;
                });
            }

                if (isBooked) {
                    alert('The selected slot is already booked. Please choose another time.');
                } else {
                    $('#bookingModal').modal('show');
                }
            } else {
                alert('Please select both date and time.');
            }
        });

        $('#modalBookingForm').on('submit', function (e) {
            e.preventDefault();

            var name = $('#name').val();
            var address = $('#address').val();
            var phone = $('#phone').val();
            var date = $('#date').val();
            var time = $('#time').val();

            if (name && address && phone && date && time) {
                $.ajax({
                    url: '/bookings',
                    method: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        product_id: "{{ product.id }}",
                        productName: "{{ product.nama }}",
                        name: name,
                        address: address,
                        phone: phone,
                        date: date,
                        time: time
                    }),
                    success: function(response) {
                        var message = `Hallo, Saya mau Konfirmsi Booking {{ product.nama }} pada ${date} jam ${time}.\nNama: ${name}\nAlamat: ${address}\nNo HP: ${phone}`;
                        var whatsappUrl = `https://api.whatsapp.com/send/?phone=62882003875404&text=${encodeURIComponent(message)}`;
                        window.location.href = whatsappUrl;
                    },
                    error: function(xhr) {
                        if (xhr.responseJSON.message !== null) {
                            alert(xhr.responseJSON.message);
                            location.reload();
                        } else {
                            alert('Failed to book. Please try again.');
                            location.reload();
                        }
                    }
                });
            } else {
                alert('Please fill in all fields.');
                location.reload();
            }
        });
    });
</script>
{% endblock %}
