<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <style>
    .hidden {
      display: none;
    }
    #overlay {
      position: absolute;
      top: 0;
      left: 0;
    }
  </style>

<script defer src="https://cdn.jsdelivr.net/npm/face-api.js@0.22.2/dist/face-api.min.js"></script>
</head>
<body>
    

<div class="row mt-3">
  <div class="col-12">
    <div class="card">
      <div class="border-bottom title-part-padding">
        <h4 class="mb-0">Deteksi Wajah Anda</h4>
      </div>
      <div class="card-body">
        <h6 class="card-subtitle mb-3">
          Gunakan kamera untuk mendeteksi wajah anda secara realtime.
        </h6>
        <video id="videoElement" width="720" height="560" autoplay muted></video>
        <canvas id="overlay" width="720" height="560"></canvas>
        <button id="startDetection" class="btn btn-success mt-2" type="button">Mulai Deteksi</button>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
async function loadModels() {
  await faceapi.nets.tinyFaceDetector.loadFromUri('https://cdn.jsdelivr.net/gh/justadudewhohacks/face-api.js/weights');
  await faceapi.nets.faceLandmark68Net.loadFromUri('https://cdn.jsdelivr.net/gh/justadudewhohacks/face-api.js/weights');
  await faceapi.nets.faceRecognitionNet.loadFromUri('https://cdn.jsdelivr.net/gh/justadudewhohacks/face-api.js/weights');
}

async function setupCamera() {
  const video = document.getElementById('videoElement');

  try {
    const stream = await navigator.mediaDevices.getUserMedia({ video: true });
    video.srcObject = stream;
  } catch (error) {
    console.error("Error accessing webcam: ", error);
  }

  await loadModels();

      video.addEventListener('play', () => {
        const videoContainer = document.querySelector('.card-body');
        const canvas = faceapi.createCanvasFromMedia(video);
        videoContainer.append(canvas);
        const displaySize = { width: video.width, height: video.height };
        faceapi.matchDimensions(canvas, displaySize);

        setInterval(async () => {
          const detections = await faceapi.detectAllFaces(video, 
              new faceapi.TinyFaceDetectorOptions()).withFaceLandmarks().withFaceDescriptors();
          const resizedDetections = faceapi.resizeResults(detections, displaySize);
          canvas.getContext('2d').clearRect(0, 0, canvas.width, canvas.height);
          faceapi.draw.drawDetections(canvas, resizedDetections);
          faceapi.draw.drawFaceLandmarks(canvas, resizedDetections);
        }, 100);
      });
    }

    setupCamera();
  });
</script>
</body>
</html>
