{% extends 'root/base.html' %}
{% block content %}

<div class="page-titles">
  <div class="row">
    <div class="col-lg-8 col-md-6 col-12 align-self-center">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0 d-flex align-items-center">
          <li class="breadcrumb-item">
            <a href="/" class="link"><i class="ri-home-3-line fs-5"></i></a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Cek Kulit Wajah</li>
        </ol>
      </nav>
      <h1 class="mb-0 fw-bold">Skin Detection</h1>
      <small>Cek Jenis kulit Wajah anda apakah normal / berminyak / kering / berjerawat </small>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <!-- Row -->

      <!-- Row -->
    </div>
  </div>
</div>
<div class="container-fluid">
  <!-- ============================================================= -->
  <!-- Start Page Content -->
  <!-- ============================================================= -->
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="border-bottom title-part-padding">
          <h4 class="mb-0">Dropzone</h4>
        </div>
        <div class="card-body">
          <h6 class="card-subtitle mb-3">
            masukan foto wajah anda 
          </h6>
          <form class="">
            <div class="fallback">
              <input id="FormGambar" name="file" type="file" multiple />
            </div>
            <button id="kirim" class="btn btn-success mt-2" type="submit">kirim</button>
          </form>
        </div>
        <div class="hasil text-center align-items-center d-block">
        <img id="img_placeholder" class="img img-responsive" style="width: 300px; height: 300px;" src="">
        <p id="hasil_deteksi"></p>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================================================= -->
  <!-- End PAge Content -->
  <!-- ============================================================= -->
</div>

<!-- ============================================================= -->
<!-- End PAge Content -->
<!-- ============================================================= -->
</div>

{% endblock %}
{% block js %}
<script>
 $("#img_placeholder").hide()
 $("#kirim").on("click", function () {
        let formData = new FormData();
        jQuery.each(jQuery('#FormGambar')[0].files, function (i, file) {
          formData.append('gambar', file);
        });
        $.ajax({
          url: "/skin_detection_submit",
          data: formData,
          cache: false,
          contentType: false,
          processData: false,
          method: 'POST',
          type: 'POST',
        //   headers: {
        //     'Authorization': 'Bearer ' + token
        // },
        }).done(function (data) {
          console.log(data);
          try {
              if (data.msg === "SUKSES") {
                  alert("Status : Sukses ");
                  var img_path = "/static/uplaod/"+data.img 
                  $("#img_placeholder").attr('src',img_path)
                  $("#img_placeholder").show()
                  $("#hasil").html("<p>Terdeteksi:</p><h2 color='green'>"+data.hasil+"</h2>")
              } else {
                  alert("Status: Gagal ");
                  window.location.href = url;
              }
          } catch (error) {
              console.log(error);
              alert("Error: " + error);
              window.location.href = url;
          }
        });
        event.preventDefault();
      });
</script>
{% endblock %}